@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family:'Belleza';
    margin: 0;
    padding: 0;
    background-color: rgb(243, 243, 243);
    scroll-behavior: smooth;
    
}

   .main-head{
       background: #1363df;
       color: white;
       display: flex;
       justify-content: space-between;
       align-items: center;
       
   }
   .nav_links li {
       display:inline-block;   
       padding-right: 60px;
   }
   .nav_links li a{
       transition: all 0.3s ease 0s;    
    text-decoration: none;   
    color: white;
   }
   .nav_links li a:hover{
     font-size: 20px;
   }
   #logo{ 
    width:90px;
    margin:7px  4px;
    

}
#titre{
    text-align: center;
    text-transform: uppercase;
    margin-top: 70px;
font-size: 60px;
}

h2{
    text-align: center;
    text-transform: uppercase;
}
.container{
    
    width: 30%;
    height: auto;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
    margin-top:150px;  
    background-color: #1363df;
}

.container-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container a{
    text-decoration: none;
    color: white;
    text-align: center;
    
    
}
#table{
    margin-top:100px;
}

.invisible td,.tdinvisible{
    border: none;
}
table{
    border: 1px solid blue;
    margin: auto;
    width: 90%;
    align-items: center;
    text-align: center;
    
  }
  tr,th,td{
    border: 1px solid blue;
  }
  
footer{
    text-align:center;
    border-top:2px solid #00a5ec;
    border-bottom:2px solid#00a5ec;
    margin-top: 300px;

}
@media (max-width: 1024px) {
    #titre {
        font-size: 40px;
    }

    .container {
        width: 45%;
    }

    .nav_links li {
        padding-right: 30px;
    }
}

@media (max-width: 768px) {
    .main-head {
        flex-direction: column;
    }

    .nav_links {
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    #titre {
        font-size: 30px;
    }

    .nav_links li {
        padding-right: 10px;
    }

    header img {
        width: 70px;
    }
    

}
