@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family:'Belleza';
    margin:0;
    padding: 0;
}
#contactt{
  font-family:'Belleza';
    margin:0;
    padding: 0;
    background-image: url(../image/blue.jpg);
}

.main-head{
    background: #1363df;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav_links li {
    display:inline-block;   
    padding-right: 60px;
    
}
.nav_links li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;   
 color: white;
}
.nav_links li a:hover{
  font-size: 20px;
}
    
 #logo{ 
    width:90px;
    margin:7px  4px;
    

}
#titre{
    text-align: center;
    text-transform: uppercase;
    margin-top: 70px;
font-size: 45px;}
span{
    color: #1363df;
}

#container{
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
    height: 100vh; 
    margin: 0; 
}

#imgesen
{
    width: 700px;
    height: auto;
    border-radius: 10px; 
    margin-left: 40px;
}
 .paragraphe{
    flex: 1; 
    font-size: 19px;
    line-height: 1.5;
    text-align: justify; margin-right: 40px;
}
fieldset {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 20px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
  
    justify-content: center;
    background-color: #006eec;
  
  }
  
  fieldset label {
    margin-right: 10px;
    font-size: 17px;
    color: white;
  }
  
  fieldset input {
    margin-bottom: 10px;
    padding: 20px;
    width: 80%;
    border: none;
  
  }
  
  #container2 {
    width: 100%;
    align-items: center;
    margin-top: 100px;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 100vh;
    margin: 0;
  
  }
  #container_info h2{
    flex: 1; 
    font-size: 23px;
    line-height: 1.5;
    text-align: justify; margin-right: 40px;
    width: 60%;
}
#container_info p{
    flex: 1; 
    font-size: 23px;
    line-height: 1.5;
    text-align: justify; margin-right: 40px;
    width: 60%;
    
}
#container{
    width:100%;
    align-items: center;
    margin-top: 100px;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center; 
    gap: 20px; 
    height: 100vh; 
    margin: 0; 
    
}
#container_info{
    width: 50%;
    margin-left: 100px;

    
}
#connexion {
    margin: 0 auto; 
    display: block;
    text-align: center;
    padding: 50px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    width: fit-content; 
    justify-content: center;  
    background-color:#006eec;
    margin-right: 300px;
    }
    #connexion label {
      margin-right: 10px;
      color:white;
  }
  

  #connexion input {
      margin-bottom: 10px;  
      padding: 20px;        
      width: 80%;    
      border: none;    
       
   }
  
  button {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border-style: none;
    font-family: 'Belleza';
    cursor: pointer;
  }
  
  input:placeholder-shown {
    font-family: 'Belleza';
  }
  

  #contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
  }
  #contactinfo form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
    
  }

  #contactinfo form input,textarea{
    background-color:white;
    border:1px solid #b5b5ce;
  }

  #contactimg{
    width:30%;
    height:100%;
  }
  
  footer {
    text-align: center;
    border-top: 2px solid #00a5ec;
    border-bottom: 2px solid#00a5ec;
  
  }
  @media (max-width: 1024px) {
    #container {
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        height: auto;
        border-radius:30px;
    }

    #imgesen {
        width: 90%;
        margin: auto;
    }

    .paragraphe {
        font-size: 16px;
        margin: auto;
        line-height: 1.4;
        text-align: justify;
        width:90%;
    }
  

    #titre {
        font-size: 35px;
    }
}

@media (max-width: 768px) {
    .nav_links {
       display: flex;
       align-items: center;
       text-align: center;
       justify-content: center;
    }

    #logo {
        width: 70px;
    }
    #container {
        padding: 10px;
        text-align: center;
        margin: auto;
        width: 90%;
        border-radius:30px;
    }

    #imgesen {
        width: 100%;
    }

    footer {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    #titre {
        font-size: 28px;
    }
    #container {
      margin: auto;
      width: 90%;
      border-radius:30px;
  }

}
    .paragraphe {
        font-size: 14px;
        line-height: 1.3;
    }

  


